<div class='frontpage'>
	<center >

		<%= image_tag 'Logo.png' %>

		<h1> Bem-vindo ao <br> Instituto Mamirauá <br> Banco de Dados <br> de Oportunidades de Financiamento </h1>

		
		<button class='btn-lg btn-danger'><%= link_to 'Buscar Oportunidades', controller: 'funds' %></button><br><br>
		<button class='btn-lg btn-primary'><%= link_to 'Adicionar uma Nova Oportunidade', new_fund_path %></button>

	</center>
</div>